* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

img {
    height: 14rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    text-align: center;
    font-size: 1.4rem;
}

.cards img{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
margin-bottom: 1em;
}

.challenge2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.challenge2 p {
    font-size: 1em;
    margin-bottom: 2em;
}

.challenge3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

h3{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    width: 100%;
}

#checkbtn,
#loginbtn{
    padding: 0.7rem 2rem;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #5b8da1;
}

.cards{
    flex-wrap: wrap;
}

.game{
    flex-direction: column;
}

.challenge3{
    margin-top: 20px;
    flex-direction: column;
    border: 2px solid black;
    padding: 30px;
}

.challenge1{
    margin-bottom: 30px;
}


.bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
}
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
